<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="127.0.0.1"/>
		<add key="Port" value="25565"/>
		<add key="CertName" value="MySslSocketCertificate"/>
		<add key="PGHost" value="localhost"/>
		<add key="PGPort" value="5432"/>
		<add key="PGDatabase" value="theatr"/>
		<add key="PGUsername" value="postgres"/>
		<add key="PGPassword" value="4276"/>
	</appSettings>
</configuration>