<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="host" value="localhost"/>
		<add key="port" value="5671"/>
		<add key="UserName" value="guest"/>
		<add key="Password" value="guest"/>
		<add key="ServerName" value="DESKTOP-IU9ASS0"/>
		<add key="CertPath" value="C:/Users/Pists/AppData/Roaming/RabbitMQ/TLS/tls-gen/basic/result/client_DESKTOP-IU9ASS0_key.p12"/>
		<add key="CertPassphrase" value="4276"/>
		<add key="CertName" value="TLSGenSelfSignedtRootCA 2022-11-04T18:35:43.162784"/>
		<add key="PGHost" value="localhost"/>
		<add key="PGPort" value="5432"/>
		<add key="PGDatabase" value="theatr"/>
		<add key="PGUsername" value="postgres"/>
		<add key="PGPassword" value="4276"/>
	</appSettings>
</configuration>